* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: #d3b390;
}

.cabecalho {
    margin: 10px;
    display: flex;
    color: #6e1900;
    flex-direction: center;
    font-size: 40px;
}

.cabecalho-image {
    width: 30%;
}

.cabecalho-img img {
    width: 100%;
    margin: 5px;
    border-radius: 5%;
}
.menu{
    margin: auto;
    display: flex;
    color: #6e1900;
    flex-direction: row;
    font-size: 20px;
}

.menu a{
    
    color: #6e1900;
    font-size: 20px;
}

.menu a:hover {
    color: #6e1900;
    font-size: 120%;
}

.menu {
    display: flex;
    color: #6e1900;
    flex-direction: row;
    justify-content: space-around;
}

.pessoais {
    margin: auto;
    color: #6e1900;
    flex-direction: row;
    font-size: 20px;
}

.profissionais {
    margin: auto;
    color: #6e1900;
    flex-direction: row;
    font-size: 20px;
}

.academicos {
    margin: auto;
    color: #6e1900;
    flex-direction: row;
    font-size: 20px;
}

.atividades {
    margin: auto;
    color: #6e1900;
    flex-direction: row;
    font-size: 20px;
}

.redes {
    margin: auto;
    color: #6e1900;
    flex-direction: row;
    font-size: 20px;
}

.contatos {
    margin: auto;
    color: #6e1900;
    flex-direction: row;
    font-size: 20px;
}

.formulario_contato {
    margin: auto;
    color: #6e1900;
    flex-direction: row;
    font-size: 20px;
}

table,tr, td {
    border: 1px solid black;
}



